fastapi
uvicorn
python-multipart
pypdf
torch
scikit-learn
transformers
safetensors
requests
python-dotenv
celery
redis
langgraph
langchain-core
langchain-google-genai
pinecone-client
langchain-pinecone
beautifulsoup4
lxml
